<h1>The Muse Jobs</h1>

<ul class="list-unstyled">
<% @jobs.each do |job| %>
  <li class="job-list">
    <span class="company"><%= job["company"]["name"] %></span>
    <span class="job-name"><%= job["name"] %></span>
  </li>
<% end %>
</ul>



<% display_pages.each do |p| %>
  <%= p + 1 %>
<% end %>
