// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.company{
  font-weight:800;
  font-size:14px;
  color: black;
  margin-right: 10px;
}
.job-name{
  color:#39c;
  font-size:16px;
  text-decoration: underline;
  margin-right:20px;
}

.category{
  font-size:12px;
}

.filters {
  margin-top:30px;
}

.filters .row{
  margin-top:15px;

}

.job-list{
  margin-top:50px;
}


.job-item{
  border-bottom: 1px solid #ccc;
  padding:10px;
}
